  <div class='userdash'>
        <!--Header Div-->
        <div class = "landing-header">
            <!--logo and sign in button-->
            <Div class="container">
                <div class="row">
                    <div class="col-sm-2"><a class="navbar-brand text-dark"  href="landingPage.html"><p id="logo">OwnFlix</p></a></div>
                    <div class="col-sm-10" id="landing-header-view">
                        <div class="row">
                            <div class="col-sm-8"></div>
                            <div class="col-sm-2"><a class="navbar-brand text-dark hvr-bounce-in"  href="DashboardPage.html" ><button type='button' class="btn btn-default" id="dashboard-button">Dashboard</button></a></div>
                            <div class="col-sm-2"><a class="navbar-brand text-dark hvr-bounce-in"  href="UserSearchBoard.html" ><button type='button' class="btn btn-default" id="user-page-button">User</button></a></div>

                        </div>
                    </div>
                </div>
            </Div>
        </div>

        <!--Main Content Div-->
        <div class='container'>
                <div class='jumbotron'>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <div><h3><u>Search for Avilable Movies</u></h3></div>
                            <form id="searchButtonForm">
                                    <label for="rentMovie">Search Movies</label>
                                    <input type="text" id="rentMovie">
                                    <br>
                                    <!-- Button triggers new movie to be added -->
                                    <input class="btn btn-info" id="rentMovieBtn" type="submit" value="Search a Movie">
                                    
                                    
                                    </form>
                            
                                    <div id ="movies-view"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
