<form id="addButtonForm">
          <label for="searchMovie">Add some more !</label>
          <input type="text" id="searchMovie">
          <br>
          <!-- Button triggers new movie to be added -->
          <input class="btn btn-info" id="searchMovieBtn" type="submit" value="Search a Movie">
          
          
        </form>

        <div id ="movies-view"></div>